<!DOCTYPE html >
<html dir="rtl" lang="ar">
   
   <head>
{%include'bootstrap.html'%}
   </head>

<body class="container">
<div>
  <h1><strong><center>قـــدر رسومـــك</center></strong></h1>
</div>
  
  <div> 
    <img src="/static/MOJPIC.png" style="height:200px;">
  </div>
  <div><h3><strong>درجة المحكمة</strong></h3></div>
  <p>      
{% for eachcourt in tbcourts %}
 {%include'courts.html'%}
        {%endfor%}
 
        </p>
  <div>
  <p><b>
        تفرض الدولة دفع رسوم قضائية على الدعاوى التى يتم رفعها أمام المحاكم، ويقصد بالرسوم القضائية هى المبالغ التى تحصلها الدولة عن طريق قلم الكتاب فى المحاكم من أطراف الدعوى          </b></p>
  </div>

</body>
</html>