<!DOCTYPE html >
<html dir="rtl" lang="ar">
     <head>
{% include 'bootstrap.html' %}
     </head>
  <body class="container">
    <div> 
      <img src="/static/MOJPIC.png" style="height:200px;">
    </div
    <div><h1><strong>الطلبات</strong></h1></div>
    <form>
     
         <div>
          <label for="number">النوع الرئيسي للدعوى</label><br>
            <b><input type="number" value="{{ session['my_variable'] }}" maxlength = "2" style = "width :50px" disabled ><b>
           <b><input type="number" value="{{variable_to_pass}}" maxlength = "2" style = "width :50px" disabled ><b>
          <input type="text"  value="{{specifybasiccase[0].BasicCaseTypeName}}" style = "width : 500px" disabled >
        </div>
        <div>
            <label for="phone">Phone</label><br>
            <input type="tel" id="phone" name="phone" required placeholder="+910034000402">
        </div>
       
        <div>
            <label for="Date">Date Of Birth</label><br>
            <input type="date" name="date" id="date" required placeholder="dd/mm/yyyy">
        </div>
        <div>
            <label for="position">Position Applied for</label><br>
            <select id="position" name="position" required>
                <option value="frontend developer">Frontend Developer</option>
                <option value="full stack developer">Full Stack Deveoper</option>
                <option value="data scientist">Data Scientist</option>
                <option value="ml Engineer">ML Engineer</option>
            </select>
        </div>
             
        <div>
            <input type="submit">
        </div>
    </form>
  
  
  </body>
  

  
</html>