<!DOCTYPE html >
<html dir="rtl" lang="ar">
     <head>
{% include 'bootstrap.html' %}
     </head>
  <body class="container">
    <div> 
      <img src="/static/MOJPIC.png" style="height:200px;">
    </div
    <div><h1><strong>الطلبات</strong></h1></div>
    <form id="myForm">
     
         <div>
                <label for="number">النوع الرئيسي للدعوى</label><br>
                <div>
                <b><input type="number" value="{{ session['C_ID'] }}" maxlength = "2" style = "width :50px" disabled ><b>
                <b><input type="number" value="{{ session['C_Type'] }}" maxlength = "2" style = "width :50px" disabled ><b>
                <b><input type="number" value="{{ session['C_G'] }}" maxlength = "2" style = "width :50px" disabled ><b>
                <b><input type="number" value="{{variable_to_pass}}" maxlength = "2" style = "width :50px" disabled ><b>
                <input type="text"  value="{{specifybasiccase[0].BasicCaseTypeName}}" style = "width : 500px" disabled >
                </div>
         <div>
              {% for eachrequest in myrequests1 %}
               <div>
                 <input type="checkbox" name="req" value="{{eachrequest['RequestID']}}">
                 <input type="text"  value="{{eachrequest['RequestID']}}" style = "width : 50px" disabled > 
                  <input type="text"  value="{{eachrequest['RequestName']}}" style = "width : 300px" disabled >
               </div>
               {%endfor%}
         </div>
                  <div>
                   <input type="submit">
                  </div>
         </div>

              <input type="text" name="name" id="nameInput">
              <input type="email" name="email" id="emailInput">
              <button type="button" onclick="displayData()">Show Data</button>
              
              <div id="dataDisplay"></div>
            <script>
                function displayData() {
                const name = document.getElementById("nameInput").value;
                const email = document.getElementById("emailInput").value;}
                document.getElementById("dataDisplay").textContent = data;
              </sript>
      
    </form>
 
  </body>
  
</html>