<iDocType  html>
  <html dir="rtl"  >
<head>
  <title>JF</title>

</head>
  <body>
    {%include 'nav.html'%}
      <div class="container" id="banner">


       <div class="row" style="margin-bottom:16px">
         <div class="col-md-6"
    <p>الدعاوى القضائية هى الوسيلة القانونية التى يلجأ إليها أصحاب الحقوق لإقتضاء حقوقهم، وتفرض الدولة رسوما قضائية على تلك الدعاوى يتم اقتضائها على ثلاث مراحل ... المرحلة الاولى عند رفع الدعوى حيث يلتزم المدعى بسداد حددتها المادتين الأولى و التاسعة من القانون 90 لسنة 44 وتعديلاته بالقانون 126 لسنة 2009، والخاص بالرسوم القضائية ورسوم التوثيق فى المواد المدنية المرحلة الثانية تداول الدعوى مثل رسوم انتقال المحكمة أو الشهود وأتعاب الخبراء ويلتزم بها المدعى أو من تلزمه المحكمة بأدائها المرحلة الثالثة ويلتزم بها خاسر الدعوى و الذى يلزمه الحكم بسدادها من الخصوم ويتم تحصيل الرسوم القضائية فى كافة أنواع الدعاوى</p>
      </div>
           <div class="col-md-6">
           <img src="/static/555.svg" style = "height:200px;width:600px; border-reduis:4px;">

 
  </body>  
  </html>